.pairParametersContainer
{
    margin-left: 0%;
    border-radius: 1%;
    flex-flow: wrap;
    display: flex;
}

.twitterInputCntainer
{
    padding: 10;
    padding-left: 20;
    height: 5%;
}

.twitterContainer 
{
    margin-right: 0%;
    background-color:#060b26;
    flex-direction: column;
    border-radius: inherit;
}


.proccessButtonTwitter {
    border-radius: 2px;
}

.columnItems
{
    text-align: center;
    width: auto;
    display: -webkit-inline-box;
    position: relative;
}

.proccessButton
{
    align-self: center;
    background-image: linear-gradient(310deg, #141727 0%, #3A416F 100%);
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    opacity: .95;
    margin-right: 20px;
    box-shadow: 0 5px 10px -3px rgb(0 0 0 / 23%), 0 6px 10px -5px rgb(0 0 0 / 25%);
}

.demoContainer
{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.13);
    text-align: center;
    border-radius: 2%;
}

.dropdownLabel
{
    font-weight: 700;
    margin-left: 10%;
    width: 50%;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropdownTitle
{
    text-align: center;
}

.dropdownElement
{
    display: inline-flex;
    position: relative;
}

.twitterHeader
{
    width: 100%;
    display: inline-flex;
}

.twittericon
{
    width: auto;
    height: auto;
}

.twitterParameters
{
    background-color:steelblue;
    display: flex;
    border-radius: inherit;
}

.vertical
{
    height: 100%;
    width: 5%;
}

.horizontal
{
    width: 100%;
    border-top: 6px solid #060b26;
}

.divider{
    color: #060b26;
    border-left: 6px solid #060b26;
    float: right;
}

.chartClass{
    position: relative;
    margin: 0 auto;
    padding-top: 1%;
    width: 90%;
}

.dropdownElementsContainer
{
    display: inline-flex;
    width: auto;
}

.dataResults
{
    border-radius: 5px;
    padding-top: 1%;
    margin: 0 auto;
    background-color:steelblue;
    display: flex;
    max-width: 90%;
}

.popUp
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #80808080;
    transition: all 0.5 linear;
    -webkit-transition:linear;
    -moz-transition:linear;
    -o-transition:linear;
}

.popUpinnerDiv
{
    border-radius: 2%;
    position: absolute;
    opacity: 100%;
    background-color:whitesmoke;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15%;
    height: 20%;
    width: 30%;
    margin-left: 30%;
}

.popUpTitle
{
    margin-top: 0%;
}

.popUpButton
{
    height: 15%;
    width: 15%;
    background-color:yellowgreen;
}

.inlineFlex
{
    display: -webkit-inline-flex;
}

.explanationTitle
{
    margin-top: 5%;
    padding: auto;
    position: relative;
    font-weight: 500;
}

.explanationText
{
    margin: 1% auto 1% auto;
    margin-left: 5%;
    text-align: left;
    position: relative;
    font-weight: 400;
}

.explanationParagraph{
    margin: auto;
    position: relative;
    padding: 5%;
}