.centerElement{
    margin:0 auto;
    text-align: center;
}

.title {
    text-align: center;
}

.text-input {
    width: 60%;
    display: block;
    margin-bottom: 25px;

}

.button {
    border-radius: 2px;
    position: relative;
    height: 30;
    margin-left: 10px
}

.dropdownDiv
{
    margin: 0 auto;
    padding: 28px 24px 24px;
    opacity: 1;
    background: rgb(248, 249, 250);
    color: rgb(52, 71, 103);
    border-radius: 0.75rem;
    background-color: rgb(248, 249, 250);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.13);
}

.dropdownContainer{
    background-color:#060b26;
    display: grid;  
    height: fit-content;
    position: relative;
    padding: 25px 17px;
    border-radius: 2%;
    max-width: 60%;
    margin: 0 auto;
}
.separator.separator--demo {
  margin: 50px auto;
  max-width: 25%;
}
.full-screen {
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
}

.gist 
{
    width: 100vw;
    height: 100vh;
}

.doc {
    position: relative;
    display:initial;
    min-height: 100%;
    height: 100%;
    width: 100%;
    left: 160px
}

.full-height {
    min-height: 100%;
    height: 100%;
}

.scores{
    position:relative;
    margin-left: 50%;
    margin-bottom: 50%;
    background-color: #060b26;
}

.dropdown {
    float: right;
    margin-right: 5%;
    width: 50%;
}

.twitterParameterContainer {
    padding: 10;
    min-width: 120px;
}


.twitterTitle {
    height: 5%;
    margin-left: 10%;
}

.hiddenPieChart {
    visibility: hidden;
}

.visiblePieChart {
    width: 20%;
    margin-left: 15%;
    margin-top: 10%;
    height: 20%;
    visibility: visible;
}

.bar {
    position:relative;
    visibility: visible;
    width: 400;
    height: 30;
    fill:#ff0000;
    stroke-width:5;
    stroke:rgb(0,0,0);
}

.barCharContainer
{
    float:left;
}

.hiddenDivBarChar{
    background-color:#caffff;
}

.visibleDivBarChar{
    background-color:#060b26;
}

.labels 
{
    display: inline-block;
    margin: 5;
    font-weight: 700
}

.svgClass {
    visibility:hidden;
    display:block; 
    width:400;
    height:25;
    stroke-width:1;
    stroke:"rgb(0,0,0)";
    align-items: center;
}

.rectClass {
    margin-top: 20%;
    height:18;
    fill:#26964b;
    stroke-width:1;
    stroke:rgb(0,0,0); 
}


.resultsTitle{
    display:table-header-group;
    vertical-align:top;
}

.tweetsTitle{
    text-align: center;
}

.tweetsContainer{
    background-color:dodgerblue;
    align-items: center;
    text-align: center;
}

.limegreen{
    background-color:limegreen;
}

.crimson{
    background-color:crimson;
}

.tomato{
    background-color:orange;
}

.tweetDiv{
    padding: 1;
    border-style: solid;
    border-color: #060b26;
    height: auto;
}

.hiddenPopUp{
    display:grid;
    border-style: solid;
    border-width: 20px;
    border: black;
    background-color: white;
    position: relative;
    align-items: center;
    text-align: center;
    visibility: hidden;
    margin-left: 50%;
}

.visiblePopUp{
    display:grid;
    border-style: solid;
    border-width: 20px;
    border: black;
    background-color: white;
    position: relative;
    align-items: center;
    text-align: center;
    visibility: visible;
    margin-left: 50%;
}

.popUpButton{
    background-color:rgb(21, 206, 76);
}

.text
{
    color:white;
    font-size: clamp(14px, 1rem + 2vw, 28px);
}

.text-black
{
    color:black;
    font-size: clamp(14px, 1rem + 2vw, 28px);
}

.paragraph
{
    margin-left: 5%;
    font-weight: 500;
}

.whiteDiv
{
    margin-top: 1%;
    border-radius: 2%;
    padding-top: 1%;
    margin-left: 7%;
    background-color: white;
    width: 100vh;
    height: 100vw;
}


@media only screen and (min-width:  992px)
{
    .full-screen 
    {
        background-color:whitesmoke;
        display: flex;
        flex-direction: row;
    }
}

.home
{
    height: 100vh;
}

.inputClass
{
    height: clamp(14px, 1rem + 2vw, 40px);
    width: clamp(128px, 1rem + 2vw, 200px);
    font-size: clamp(14px, 1rem + 2vw, 18px);
}